<table class="table" style="background-color: white";
>
    <thead>
        <tr>
            <th>Verbo</th>
            <th>Objeto</th>
            <th>Detalle</th>
            <th>Cliente</th>
            <th>Medición</th>
            <th>Tiempo</th>
            <th>Rutina</th>
            <th>Frecuencia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr id="task-{{ task.id }}">
                <td><strong style="color: blue">{{ task.verb }}</strong></td>
                <td>{{ task.object }}</td>
                <td>{{ task.sale_order.detail }}</td>
                <td>{{ task.sale_order.project.client }}</td>
                <td>{{ task.measurement }}</td>
                <td>{{ task.task_time }}</td>
                <td><strong style="color: red">{{ task.rutine }}</strong></td>
                <td><strong style="color: red">{{ task.frecuency }}</strong></td>
                <td>
                    <button class="btn btn-danger btn-sm" hx-delete="{% url 'delete-task' task.id %}" hx-target="#task-{{ task.id }}" hx-swap="outerHTML">Eliminar</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>