{% extends 'follow_control_base.html' %}

{% block title %}
Tarjetas de Control
{% endblock %}

{% block content %}
<style>
    .flow-wrapper {
        padding: 50px;
        position: relative;
        min-height: 700px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 6 columnas para excluir domingo */
        grid-gap: 10px;
    }

    .flow-item, .empty-day {
        text-align: center;
        height: 100px; /* Altura reducida */
        transition: transform 0.3s ease;
        border-radius: 15px;
        padding: 10px; /* Padding reducido */
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flow-item h3 {
        margin: 0;
        font-size: 1.2em;
        color: #333;
        font-weight: bold;
    }

    .flow-item .valuation {
        font-size: 2.5em;
        color: #000;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .flow-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }

    .day-header {
        text-align: center;
        font-weight: bold;
        padding: 10px 0;
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    /* Estilo para el mes flotante */
    .floating-month {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
        z-index: 1000;
        pointer-events: none; /* Para que no interfiera con otros elementos */
    }
</style>

<div class="flow-wrapper">
    <!-- Encabezados de los días de la semana -->
    <div class="day-header">Lunes</div>
    <div class="day-header">Martes</div>
    <div class="day-header">Miércoles</div>
    <div class="day-header">Jueves</div>
    <div class="day-header">Viernes</div>
    <div class="day-header">Sábado</div>

    <!-- Días vacíos al inicio del mes -->
    {% for i in empty_days %}
        <div class="empty-day"></div>
    {% endfor %}

    <!-- Tarjetas -->
    {% for card in cards %}
    <a href="{% url 'daily_card' card.pk %}" class="flow-item">
        <h3>{{ card.date|date:"d" }}</h3> <!-- Solo día -->
        <p class="valuation">{{ card.valuation }}</p>
    </a>
    {% empty %}
    <p>No hay tarjetas disponibles para este mes.</p>
    {% endfor %}
</div>

<div class="floating-month">
    {{ current_month }} <!-- Asegúrate de que esté escrito exactamente así -->
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
