{% extends "base_accounting.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  .table-hover tbody tr:hover {
      background-color: #f5f5f5;  /* Color de fondo al pasar el cursor */
  }
  
  .btn-primary {
      border: 0;
      transition: background-color 0.2s ease-in-out;  /* Suaviza la transición de color */
  }
  
  .btn-primary:hover {
      background-color: #0056b3;  /* Oscurece el botón al pasar el cursor */
  }

  .header-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header-flex h2 {
      margin-bottom: 0; /* Evita que el título tenga margen que interfiera con el alineamiento */
  }
</style>

<div class="container mt-4">
    <div class="header-flex">
        <h2>Cronograma de Pagos Futuros</h2>
        <h3><div>Fecha: {{ ahora|date:"d/m/Y H:i" }}</div></h3>
    </div>
  
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">Resolución</th>
          <th scope="col">Cuota</th>
          <th scope="col">Venc.</th>
          <th scope="col">Total</th>
          <th scope="col">Pagado</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for pago in pagos %}
        <tr class="{{ pago.estado_clase }}">
          <th scope="row">{{ pago.resolucion }}</th>
          <td>{{ pago.numero_cuota }}</td>
          <td>{{ pago.vencimiento|date:"d/m/Y" }}</td>
          <td>{{ pago.total|floatformat:2 }}</td>
          <td>{{ pago.monto_pagado_sunat|floatformat:2 }}</td>
          <td>
            <!-- Botón para abrir el modal correspondiente a este pago -->
            <button type="button" class="btn btn-primary btn-registrar-pago" data-bs-toggle="modal" data-bs-target="#crearReciboModal" data-pago-id="{{ pago.id }}">Registrar Pago</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Modal para crear un nuevo ReciboSunat -->
    <div class="modal fade" id="crearReciboModal" tabindex="-1" aria-labelledby="crearReciboModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="crearReciboModalLabel">Registrar Recibo Sunat</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="formCrearRecibo" method="post" action="{% url 'cronograma_semaforo' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="hidden" name="pago_id" id="hiddenPagoId" value="">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" form="formCrearRecibo" class="btn btn-primary">Guardar Recibo</button>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const botonesRegistrarPago = document.querySelectorAll('.btn-registrar-pago');
    const modalElement = document.getElementById('crearReciboModal');
    const hiddenInput = document.getElementById('hiddenPagoId');
    const formCrearRecibo = document.getElementById('formCrearRecibo');

    // Reinicia el formulario cada vez que se cierra el modal
    modalElement.addEventListener('hidden.bs.modal', function () {
        formCrearRecibo.reset();
        hiddenInput.value = '';  // Limpia el campo oculto para asegurar que no hayan valores residuales
    });

    botonesRegistrarPago.forEach(function(boton) {
      boton.addEventListener('click', function() {
        const pagoId = this.getAttribute('data-pago-id');
        hiddenInput.value = pagoId; // Establece el valor del ID de pago en el campo oculto del formulario

        // Abre el modal
        const modal = new bootstrap.Modal(modalElement);
        modal.show();
      });
    });
  });
</script>


{% endblock %}
