{% extends 'base_logistic.html' %}

{% block extra_css %}
<style>
    .custom-rounded-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    .custom-thead-rounded {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .btn-group .btn {
        padding: 0.375rem 0.75rem; /* Aumenta el padding de los botones */
        font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    }
</style>
{% endblock %}

{% block content %}
<div id="logistic_inventory_output_window">
    <div class="container-fluid">
        <header class="bg-light p-4 rounded shadow-sm mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-0 fw-bold" style="font-size: 1.5rem;">
                    Guia de Salida
                </h2>
                <button class="btn w-100"
                    hx-get="{% url 'logistic_inventory_output_new_salesorder_search' %}"
                    hx-target="#logistic_inventory_output_window"
                    data-bs-toggle="button"
                    aria-pressed="false">
                    <i class="fa-solid fa-plus-circle"></i> Nuevo guia de salida
                </button>
            </div>
        </header>

        <div class="table-responsive">
        <header class="bg-light p-4 rounded shadow-sm mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-0 fw-bold" style="font-size: 1.5rem;">
                    Busqueda
                </h2>
                <ul id="logistic_inventory_output_search" class="mt-8 space-y-4 row g-2">
                    texto
                </ul>
            </div>
        </header>

        <div class="table-responsive">
            <table class="table table-hover align-middle text-center bg-white bg-opacity-75 shadow-sm custom-rounded-top">
                <thead class="table-dark custom-thead-rounded">
                    <tr>
                        <th>Orden de Venta</th>
                        <th>Fecha de creación</th>
                        <th>Usuario</th>
                        <th>Retornado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for output in outputs %}
                    <tr class="rounded-3">
                        <td>{{ output.sale_order }}</td>
                        <td>{{ output.date_create }}</td>
                        <td>{{ output.user }}</td>
                        <td>
                            {% if output.returned %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
