<form hx-post="{% url 'budget_catalog_search' %}" hx-target="#budget_catalog_list" hx-swap="innerHTML" class="w-100">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <label for="{{ search.sap.id_for_label }}" > Por SAP: </label>
            {{ search.sap }}
        </div>
        <div class="col-6 col-md-2 mb-3">
            <label for="{{ search.description.id_for_label }}" > Por descripción: </label>
            {{ search.description }}
        </div>

        <div class="col-6 col-md-2 mb-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>
