{% load widget_tweaks %}

<form hx-post="{% url 'budget_catalog_new' %}" class="w-100 mb-5"> <!-- Se añade la clase 'mb-5' para el margen inferior -->
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-12 col-md-4 col-lg-2">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}:</label>
            {{ form.description|add_class:"form-control" }}
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }}:</label>
            {{ form.category|add_class:"form-select" }}
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <label for="{{ form.price.id_for_label }}" class="form-label">{{ form.price.label }}:</label>
            {{ form.price|add_class:"form-control" }}
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <label for="{{ form.price_per_day.id_for_label }}" class="form-label">{{ form.price_per_day.label }}:</label>
            {{ form.price_per_day|add_class:"form-control" }}
        </div>
        <div class="col-12 col-md-4 col-lg-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </div>

        {% if status == "yes" %}
            <div class="alert alert-success col-12" role="alert">
                ¡Operación exitosa! :)
            </div>
        {% elif status == "no" %}
            <div class="alert alert-danger col-12" role="alert">
                Algo falló :P
            </div>
        {% endif %}
    </div>
</form>
