{% extends 'base_budget.html' %}

{% load widget_tweaks %}

{% block title %}Crear Presupuesto{% endblock %}

{% block content %}

<div class="container-fluid ">
    <div id="budget_catalog_window">
        <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
            <div class="card-body text-center py-2">
                <h1 class="mb-0">Añadir Item</h1>
            </div>
        </div>

        <div id="budget_catalog_form" class="w-100">
            {% include 'catalog/form.html' %}
        </div>

        <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
            <div class="card-body text-center py-2">
                <h1 class="mb-0">Búsqueda de Items</h1>
            </div>
        </div>

        <ul id="budget_catalog_search" class="mt-8 space-y-4">
            {% include 'catalog/search.html' %}
        </ul>

        <ul id="budget_catalog_list" class="mt-8 space-y-4">
            {% include 'catalog/list.html' %}
        </ul>
    </div>
</div>
{% endblock %}
