{% extends 'base_budget.html' %}

{% load widget_tweaks %}

{% block title %}Crear Presupuesto{% endblock %}

{% block content %}

<div class="container-fluid ">
    <div id="budget_catalog_window">
        <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
            <div class="card-body text-center py-2">
                <h1 class="mb-0">Añadir Item</h1>
            </div>
        </div>

        {% include 'catalog/form.html' %}

        <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
            <div class="card-body text-center py-2">
                <h1 class="mb-0">Búsqueda de Items</h1>
            </div>
        </div>

        {% comment %} <ul id="budget_catalog_search" class="mt-8 space-y-4">
            {% include 'catalog/search.html' %}
        </ul> {% endcomment %}
        <form hx-get="{% url 'budget_catalog_search' %}" hx-target="#budget_catalog_list" hx-trigger="keyup delay:0.2s" hx-debounce="1500ms">
            <input type="text" name="q" placeholder="Buscar por SAP,Projecto, Detalle" class="form-control" id="search-input">
        </form>
        <ul id="budget_catalog_list" class="mt-8 space-y-4">
            {% include 'catalog/list.html' %}
        </ul>
    </div>
</div>
{% endblock %}
