{% extends 'base_budget.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<h2 class="text-center mb-4 pt-2" style="font-size: 2rem; font-weight: bold;">
    {% if form.instance.pk %}Editar{% else %}Crear{% endif %} Presupuesto
</h2>
<hr class="mb-3">

<form method="post" id="budget-form">
    {% csrf_token %}
    <div class="container">
        <!-- Sección de campos principales -->
        <div class="row mb-3">
            <div class="col-md-4 form-group">
                {{ form.client.label_tag }}
                {{ form.client|add_class:"form-control" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_name.label_tag }}
                {{ form.budget_name|add_class:"form-control"|attr:"placeholder=Nombre del Presupuesto" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_number.label_tag }}
                {{ form.budget_number|add_class:"form-control"|attr:"placeholder=Número del Presupuesto" }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 form-group">
                {{ form.budget_days.label_tag }}
                {{ form.budget_days|add_class:"form-control"|attr:"placeholder=Días del Presupuesto" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_date.label_tag }}
                {{ form.budget_date|add_class:"form-control"|attr:"placeholder=Fecha del Presupuesto" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_expenses.label_tag }}
                {{ form.budget_expenses|add_class:"form-control"|attr:"placeholder=Gastos" }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 form-group">
                {{ form.budget_utility.label_tag }}
                {{ form.budget_utility|add_class:"form-control"|attr:"placeholder=Utilidad" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_deliverytime.label_tag }}
                {{ form.budget_deliverytime|add_class:"form-control"|attr:"placeholder=Tiempo de Entrega" }}
            </div>
            <div class="col-md-4 form-group">
                {{ form.budget_servicetime.label_tag }}
                {{ form.budget_servicetime|add_class:"form-control"|attr:"placeholder=Tiempo de Servicio" }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 form-group">
                {{ form.budget_warrantytime.label_tag }}
                {{ form.budget_warrantytime|add_class:"form-control"|attr:"placeholder=Tiempo de Garantía" }}
            </div>
        </div>
    </div>

    <!-- Formset de Ítems -->
    <div class="container">
        <div class="row font-weight-bold border-bottom pb-1 mb-2" style="border-bottom: 2px solid #ddd;">
            <div class="col-md-4 text-center">ITEM</div>
            <div class="col-md-1 text-center">CANT</div>
            <div class="col-md-2 text-center">UND</div>
            <div class="col-md-2 text-center">PRECIO U.</div>
            <div class="col-md-2 text-center">PRECIO D.</div>
            <div class="col-md-1 text-center">ELIMINAR</div>
        </div>

        <div id="item-formset">
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="form-row row align-items-center p-1" style="margin-bottom: 4px;">
                <div class="col-md-4">
                    {{ form.item|add_class:"form-control select2-ajax text-dark"|attr:"placeholder=Seleccione un ítem" }}
                </div>
                <div class="col-md-1">
                    {{ form.quantity|add_class:"form-control text-center text-dark"|attr:"placeholder=Cantidad" }}
                </div>
                <div class="col-md-2">
                    {{ form.unit|add_class:"form-control text-center text-dark"|attr:"placeholder=Unidad" }}
                </div>
                <div class="col-md-2">
                    {{ form.custom_price|add_class:"form-control text-center text-dark"|attr:"placeholder=Precio Unitario" }}
                </div>
                <div class="col-md-2">
                    {{ form.custom_price_per_day|add_class:"form-control text-center text-dark"|attr:"placeholder=Precio por Día" }}
                </div>
                <div class="col-md-1 text-center">
                    <button type="button" class="btn btn-danger btn-sm remove-form"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Formulario vacío oculto para clonar -->
    <div id="empty-form" style="display:none;">
        <div class="form-row row align-items-center p-1" style="margin-bottom: 4px;">
            <div class="col-md-4">
                {{ formset.empty_form.item|add_class:"form-control select2-ajax text-dark"|attr:"placeholder=Seleccione un ítem" }}
            </div>
            <div class="col-md-1">
                {{ formset.empty_form.quantity|add_class:"form-control text-center text-dark"|attr:"placeholder=Cantidad" }}
            </div>
            <div class="col-md-2">
                {{ formset.empty_form.unit|add_class:"form-control text-center text-dark"|attr:"placeholder=Unidad" }}
            </div>
            <div class="col-md-2">
                {{ formset.empty_form.custom_price|add_class:"form-control text-center text-dark"|attr:"placeholder=Precio Unitario" }}
            </div>
            <div class="col-md-2">
                {{ formset.empty_form.custom_price_per_day|add_class:"form-control text-center text-dark"|attr:"placeholder=Precio por Día" }}
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-danger btn-sm remove-form"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>

    <!-- Botones de acción ocupando todo el ancho -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-6 pr-1">
                <button type="button" id="add-item" class="btn btn-outline-secondary w-100">
                    <i class="fas fa-plus-circle"></i> Agregar Ítem
                </button>
            </div>
            <div class="col-6 pl-1">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Librerías de Select2 y jQuery -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- JavaScript para manejar Select2 y la adición/eliminación de formularios -->
<script>
    $(document).ready(function() {
        function initializeSelect2(selector) {
            if (!$(selector).hasClass("select2-hidden-accessible")) {
                $(selector).select2({
                    placeholder: 'Seleccione un ítem',
                    allowClear: true,
                    ajax: {
                        url: $(selector).data('ajax--url'),
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return { term: params.term };
                        },
                        processResults: function(data) {
                            return { results: data.results };
                        },
                        cache: true
                    },
                    minimumInputLength: 3
                });
            }
        }

        // Función para reindexar formularios
        function reindexForms() {
            $('#item-formset .form-row').each(function(index, element) {
                $(element).find(':input').each(function() {
                    var name = $(this).attr('name');
                    if (name) {
                        var newName = name.replace(/\d+/, index);  // Reemplaza el índice anterior por el nuevo
                        $(this).attr('name', newName);
                    }
                    var id = $(this).attr('id');
                    if (id) {
                        var newId = id.replace(/\d+/, index);  // Reemplaza el índice anterior por el nuevo
                        $(this).attr('id', newId);
                    }
                });
            });
            $('#id_items-TOTAL_FORMS').val($('#item-formset .form-row').length);  // Actualiza el TOTAL_FORMS
        }

        // Agregar formularios
        $('#add-item').click(function(e) {
            e.preventDefault();
            var formCount = parseInt($('#id_items-TOTAL_FORMS').val());
            for (var i = 0; i < 3; i++) {
                var $emptyForm = $('#empty-form .form-row').clone();
                $emptyForm.find(':input').each(function() {
                    var name = $(this).attr('name');
                    if (name) $(this).attr('name', name.replace('__prefix__', formCount));
                    var id = $(this).attr('id');
                    if (id) $(this).attr('id', id.replace('__prefix__', formCount));
                });

                $('#item-formset').append($emptyForm);
                initializeSelect2($emptyForm.find('.select2-ajax'));
                formCount++;
            }
            $('#id_items-TOTAL_FORMS').val(formCount);  // Actualiza TOTAL_FORMS después de agregar
        });

        // Eliminar formularios
        $(document).on('click', '.remove-form', function(e) {
            e.preventDefault();
            $(this).closest('.form-row').remove();
            reindexForms();  // Reindexa los formularios después de eliminar uno
        });
    });
</script>

{% endblock %}
