{% extends 'base_budget.html' %}

{% load widget_tweaks %}

{% block title %}Crear Presupuesto{% endblock %}

{% block extra_css %}
<style>
    .custom-form-control {
        border: 2px solid #007bff; /* Borde azul fuerte */
        background-color: #f0f8ff; /* Fondo azul claro */
        transition: all 0.2s ease-in-out;
    }

    .custom-form-control:focus {
        border-color: #ff5722; /* Borde naranja en foco */
        background-color: #fff7f0; /* Fondo naranja claro en foco */
    }

    .form-container {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para el contenedor */
    }

    .custom-form-row {
        margin-bottom: 5px; /* Menos espacio entre filas */
    }
</style>
{% endblock %}

{% block content %}

<form method="post" id="budget-form" class="p-4 shadow-sm rounded form-container">
    {% csrf_token %}
    <h1 class="text-center mb-4 display-6 text-dark border-bottom pb-2">CREAR PRESUPUESTO</h1>
    <div class="mb-4">
        <div class="row">
            <!-- Primera columna: Cliente, Presupuesto, Número de Cotización -->
            <div class="col-md-4">
                <div class="mb-3">
                    {{ form.client.label_tag }}
                    {{ form.client|add_class:"form-control-lg mb-3 select2 custom-form-control"|attr:"placeholder=Cliente" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_name|add_class:"form-control-lg mb-3 custom-form-control"|attr:"placeholder=Presupuesto" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_number|add_class:"form-control-lg mb-3 custom-form-control"|attr:"placeholder=COT-00" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_date|add_class:"form-control-lg mb-3 custom-form-control"|attr:"placeholder=Fecha del Presupuesto" }}
                </div>
            </div>

            <!-- Segunda columna: Días del Presupuesto, Utilidad, Gastos Administrativos -->
            <div class="col-md-4">
                <div class="mb-3">
                    {{ form.budget_days.label_tag }}
                    {{ form.budget_days|add_class:"form-control-lg mb-3 custom-form-control"|attr:"placeholder=Días del Presupuesto" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_utility.label_tag }}
                    {{ form.budget_utility|add_class:"form-select-lg mb-3 select2 custom-form-control"|attr:"placeholder=Utilidad" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_expenses.label_tag }}
                    {{ form.budget_expenses|add_class:"form-select-lg mb-3 select2 custom-form-control"|attr:"placeholder=Gastos Administrativos" }}
                </div>
            </div>

            <!-- Tercera columna: Tiempo de Entrega, Tiempo de Servicio, Tiempo de Garantía -->
            <div class="col-md-4">
                <div class="mb-3">
                    {{ form.budget_deliverytime.label_tag }}
                    {{ form.budget_deliverytime|add_class:"form-select-lg mb-3 select2 custom-form-control"|attr:"placeholder=Tiempo de Entrega" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_servicetime.label_tag }}
                    {{ form.budget_servicetime|add_class:"form-select-lg mb-3 select2 custom-form-control"|attr:"placeholder=Tiempo de Servicio" }}
                </div>
                <div class="mb-3">
                    {{ form.budget_warrantytime.label_tag }}
                    {{ form.budget_warrantytime|add_class:"form-select-lg mb-3 select2 custom-form-control"|attr:"placeholder=Tiempo de Garantía" }}
                </div>
            </div>
        </div>
    </div>

    <div class="row text-uppercase font-weight-bold text-dark border-bottom pb-2 mb-3">
        <div class="col-md-5">Lista de Items</div>
    </div>
    
    <div id="item-formset">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="custom-form-row" id="form-{{ forloop.counter0 }}">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.item|add_class:"form-control form-control-sm select2 custom-form-control"|attr:"placeholder=Ítem" }}
                    </div>
                    <div class="col-md-2 text-center">
                        {{ form.quantity|add_class:"form-control form-control-sm text-center custom-form-control"|attr:"placeholder=Cantidad" }}
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="button" class="btn btn-danger btn-sm remove-form"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <!-- Formulario vacío para agregar nuevos ítems -->
        <div id="empty-form" style="display: none;">
            <div class="custom-form-row">
                <div class="row">
                    <div class="col-md-6">
                        {{ formset.empty_form.item|add_class:"form-control form-control-sm select2 custom-form-control"|attr:"placeholder=Ítem" }}
                    </div>
                    <div class="col-md-2 text-center">
                        {{ formset.empty_form.quantity|add_class:"form-control form-control-sm text-center custom-form-control"|attr:"placeholder=Cantidad" }}
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="button" class="btn btn-danger btn-sm remove-form"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button type="button" id="add-item" class="btn btn-secondary"><i class="fas fa-plus-circle"></i> Agregar Ítem</button>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar Presupuesto</button>
    </div>
</form>

<!-- Asegúrate de incluir jQuery y Select2 antes de este script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluye el CSS y JS de Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Opcional: Tema de Bootstrap para Select2 -->
<link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />

<script>
    function initializeSelect2(selector) {
        $(selector).select2({
            theme: 'bootstrap4', // Usa 'bootstrap4' si estás utilizando ese tema
            width: '100%'
        }).on('select2:open', function() {
            const target = $(this);
            const select2SearchField = target.data('select2').dropdown.$search || target.data('select2').selection.$search;
            
            if (select2SearchField.length) {
                setTimeout(function() {
                    select2SearchField.focus();
                }, 0);
            }
        });
    }
    
    $(document).ready(function() {
        
        document.getElementById('add-item').addEventListener('click', function() {
            const totalForms = document.getElementById('id_items-TOTAL_FORMS');
            const currentFormCount = parseInt(totalForms.value);
    
            const newFormHtml = document.getElementById('empty-form').innerHTML.replace(/__prefix__/g, currentFormCount);
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = newFormHtml.trim();  // Recortar los espacios innecesarios
            
            const newForm = tempDiv.firstChild;
            document.getElementById('item-formset').appendChild(newForm);
    
            totalForms.value = currentFormCount + 1;
    
            // Inicializar Select2 en el nuevo campo agregado
            initializeSelect2($(newForm).find('select.select2'));
        });
    
        // Remover ítem existente
        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('remove-form')) {
                e.preventDefault();
                const formRow = e.target.closest('.form-row');
                formRow.remove();
    
                // Decrementar el número total de formularios
                const totalForms = document.getElementById('id_items-TOTAL_FORMS');
                totalForms.value = parseInt(totalForms.value) - 1;
    
                // Reindexar los formularios para evitar conflictos en los nombres de los campos
                const formRows = document.querySelectorAll('#item-formset .form-row');
                formRows.forEach((row, index) => {
                    row.id = `form-${index}`;
                    row.querySelectorAll('input, select, textarea').forEach(input => {
                        input.name = input.name.replace(/-\d+-/, `-${index}-`);
                        input.id = input.id.replace(/_\d+_/, `_${index}_`);
                    });
                });
            }
        });
    });
    
</script>

{% endblock %}
