{% extends "base_budget.html" %}

{% block title %}Detalle del Presupuesto{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white p-2">
                    <h1>Detalle del Presupuesto: {{ budget.budget_name }}</h1>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm mb-0" style="table-layout: fixed; width: 100%;">
                            <tbody>
                                <tr>
                                    <th class="bg-light p-1" style="width: 15%;">Cliente</th>
                                    <td class="p-1" style="width: 85%;">{{ budget.client }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Nombre del Presupuesto</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_name }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Días del Presupuesto</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_days }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Precio parcial (S/.)</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_price }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Precio completo sin IGV (S/.)</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_final_price }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Fecha</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_date }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Tiempo de Entrega	</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_deliverytime }}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Tiempo de Servicio	</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_servicetime}}</td>
                                </tr>
                                <tr>
                                    <th class="bg-light p-1" style="width: 30%;">Tiempo de Garantía	</th>
                                    <td class="p-1" style="width: 70%;">{{ budget.budget_warrantytime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="button-container text-left mt-4">
                <a href="{% url 'index_budget' %}" class="btn btn-success mx-2">Volver a la Lista de Presupuestos</a>
                <a href="{% url 'export_budget_report' budget.pk %}" class="btn btn-success">
                    <i class="fas fa-file-excel"></i> Descargar en Excel
                </a>

                <a href="{% url 'edit_budget' budget.id %}" class="btn btn-warning mx-2">Editar Presupuesto</a>
                <a href="{% url 'edit_budget_with_new_item' budget.id %}" class="btn btn-warning mx-2">EDITAR Presupuesto</a>
                <a href="{% url 'delete_budget' budget.id %}" class="btn btn-danger mx-2">Eliminar Presupuesto</a>
                
                <!-- Botón para crear la orden de venta -->
                <a href="{% url 'create_sales_order' budget.id %}" class="btn btn-primary mx-2">
                    Crear Orden de Venta
                </a>
            </div>

            {% for category, items in items_by_category.items %}
            <div class="card mt-4 shadow-sm">
                <div class="card-header bg-secondary text-white">
                    <h3>{{ category }}</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Ítem</th>
                                <th>Cantidad</th>
                                <th>Precio Diario (S/.)</th>
                                <th>Precio Unitario (S/.)</th>
                                <th>Precio Proyecto (S/.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.item.description }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>
                                        {{ item.custom_price_per_day }}
                                </td>
                                <td>{{ item.custom_price }}</td>
                                <td>{{ item.total_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
