{% extends "base_budget.html" %}

{% block title %}Detalle del Presupuesto{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <!-- Columna izquierda con los detalles del presupuesto -->
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white p-2">
                    <h1>Detalle del Presupuesto: {{ budget.budget_name }}</h1>
                </div>
                <div class="card-body p-0">
                    <div id="budget-details-container"> <!-- Este es el ID que se usará en hx-target -->
                        {% include "partials/_budget_table.html" %}
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Columna derecha con los botones de acción -->
<div class="col-md-4">
    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white p-2">
            <h5>Acciones</h5>
        </div>
        <div class="button-container p-3">
            <!-- Botones principales -->
            <div class="mb-3">
                <a href="{% url 'index_budget' %}" class="btn btn-success mb-2 w-100">Volver a la Lista de Presupuestos</a>
                <a href="{% url 'export_budget_report' budget.pk %}" class="btn btn-success mb-2 w-100">
                    <i class="fas fa-file-excel"></i> Descargar en Excel
                </a>
                <a href="{% url 'delete_budget' budget.id %}" class="btn btn-danger mb-2 w-100">Eliminar Presupuesto</a>
                {% if user.is_superuser %}
                <a href="{% url 'create_sales_order' budget.id %}" class="btn btn-primary w-100">Crear Orden de Venta</a>
                {% endif %}            
            </div>
            <!-- Subida de archivo Excel (normal) -->
            <div class="card mb-3">
                <div class="card-header bg-light p-2">
                    <h6>Subir archivo Excel (Normal)</h6>
                </div>
                <div class="card-body p-2">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_budget_excel' budget.id %}">
                        {% csrf_token %}
                        <div class="mb-2">
                            <input type="file" name="excel_file" accept=".xlsx" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Subir</button>
                    </form>
                </div>
            </div>

            <!-- Subida de archivo Excel (SAP) -->
            <div class="card">
                <div class="card-header bg-light p-2">
                    <h6>Subir archivo Excel (SAP)</h6>
                </div>
                <div class="card-body p-2">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_sap_excel' budget.id %}">
                        {% csrf_token %}
                        <div class="mb-2">
                            <input type="file" name="excel_file" accept=".xlsx" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Subir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <!-- Fila con el formulario para agregar ítem, movido abajo -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow-sm mb-3">
                <div class="card-header bg-secondary text-white">
                    <h3>Agregar nuevo ítem</h3>
                </div>
                <div class="card-body">
                    <form method="POST" hx-post="{% url 'add_budget_item_htmx' budget.pk %}" hx-target="#item-list" hx-swap="outerHTML">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.item.label_tag }}
                                {{ form.item }}
                            </div>
                            <div class="col-md-2">
                                {{ form.quantity.label_tag }}
                                {{ form.quantity }}
                            </div>
                            <div class="col-md-3">
                                {{ form.custom_price.label_tag }}
                                {{ form.custom_price }}
                            </div>
                            <div class="col-md-3">
                                {{ form.custom_price_per_day.label_tag }}
                                {{ form.custom_price_per_day }}
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-primary mt-4 w-100">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila con la lista de ítems -->
    <div class="row mt-4">
        <div class="col-12">
            <div id="item-list">
                {% include 'budget/item_list.html' %}
            </div>
        </div>
    </div>

    
</div>

<!-- Librerías de Select2 y jQuery -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- JavaScript para manejar Select2 y la adición/eliminación de formularios -->
<script>
    $(document).ready(function() {
        function initializeSelect2(selector) {
            if (!$(selector).hasClass("select2-hidden-accessible")) {
                $(selector).select2({
                    placeholder: 'Seleccione un ítem',
                    allowClear: true,
                    ajax: {
                        url: $(selector).data('ajax--url'),
                        dataType: 'json',
                        delay: 150,
                        data: function(params) {
                            return { term: params.term };
                        },
                        processResults: function(data) {
                            return { results: data.results };
                        },
                        cache: true
                    },
                    minimumInputLength: 3
                });
            }
        }

        // Inicializar Select2 en todos los campos select2-ajax
        $('.select2-ajax').each(function() {
            initializeSelect2(this);
        });
    });
</script>

{% endblock %}
