<tr id="item-{{ item.id }}">
    <td colspan="8">
        <div>
            <form method="POST" hx-post="{% url 'edit_budget_item_htmx' item.id %}" hx-target="#item-{{ item.id }}" hx-swap="outerHTML">
                {% csrf_token %}
                
                <!-- Tabla completa para el formulario de edición -->
                <table class="table table-borderless table-sm mb-0">
                    <thead>
                        <tr>
                            <th>SAP</th>
                            <th>Ítem</th>
                            <th>UND</th>
                            <th>Cant</th>
                            <th>Precio Diario (S/.)</th>
                            <th>Precio Unitario (S/.)</th>
                            <th>Precio Proyecto (S/.)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ item.item.sap }}</td>
                            <td>{{ item.item.description }}</td>
                            <td>{{ item.unit }}</td>
                            <td>{% load widget_tweaks %}{{ form.quantity|add_class:"form-control" }}</td>
                            <td>{{ form.custom_price_per_day|add_class:"form-control" }}</td>
                            <td>{{ form.custom_price|add_class:"form-control" }}</td>
                            <td>{{ item.total_price }}</td>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </form>
        </div>
    </td>
</tr>
