<ul class="list-group">
    {% for supplier in suppliers %}
        <li id="supplier-{{ supplier.id }}" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <small>Proveedor: <strong class="text-dark">{{ supplier.name }}</strong></small>
                <small>RUC/DNI: {{ supplier.document }}</small>
                <small>Banco: {{ supplier.bank }} | Tipo de Moneda: {{ supplier.currency }}</small>
                <small>Cuenta: {{ supplier.account }} | Cuenta Interbancaria: {{ supplier.interbank_currency }}</small>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-warning btn-sm me-2 d-flex align-items-center" 
                        hx-get="{% url 'edit-supplier' supplier.id %}" 
                        hx-target="#supplier-{{ supplier.id }}" 
                        hx-swap="outerHTML">
                    <i class="fas fa-edit me-1"></i> Editar
                </button>
                <button class="btn btn-danger btn-sm d-flex align-items-center" 
                        hx-post="{% url 'delete-supplier' supplier.id %}" 
                        hx-confirm="¿Estás seguro de eliminar el Proveedor?" 
                        hx-target="#supplier-{{ supplier.id }}" 
                        hx-swap="outerHTML">
                    <i class="fas fa-trash me-1"></i> Eliminar
                </button>
            </div>
        </li>
    {% endfor %}
</ul>
