<form hx-post="{% url 'create-supplier' %}" hx-target="#task-list" hx-swap="innerHTML" class="w-100">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-2 mb-3">
            {{ form.document }}
        </div>
        <div class="col-12 col-md-4 mb-3">
            {{ form.name }}
        </div>
        <div class="col-6 col-md-2 mb-3">
            {{ form.bank }}
        </div>
        <div class="col-6 col-md-2 mb-3">
            {{ form.account }}
        </div>
        <div class="col-6 col-md-2 mb-3">
            {{ form.currency }}
        </div>
        <div class="col-6 col-md-2 mb-3">
            {{ form.interbank_currency }}
        </div>
        <div class="col-12 col-md-2 mb-3 d-flex align-items-end">
            <button type="submit" class="btn btn-success w-100">Crear Proveedor</button>
        </div>
    </div>
</form>
