<article class="list-group-item mb-3" id="orden-{{ order.id }}" style="border: 1px solid #d1d5db; border-radius: 15px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); padding: 20px; background: linear-gradient(135deg, #ffffff, #f2f5f8);">
    
    <!-- Información general de la Orden de Compra -->
    <header class="row mb-2 align-items-center">
        <div class="col-lg-2">
            <label><strong>Descripción:</strong></label>
            <div>{{ order.description }}</div>
        </div>

        <div class="col-lg-2">
            <label><strong>Solicitado por:</strong></label>
            <span class="badge bg-primary">{{ order.requested_by }}</span>
        </div>

        <div class="col-lg-2">
            <label><strong>Fecha Programada:</strong></label>
            <div>{{ order.scheduled_date }}</div>
        </div>

        <div class="col-lg-2">
            <label><strong>Fecha Creación:</strong></label>
            <div>{{ order.created_at }}</div>
        </div>

        <!-- Botón para editar la orden de compra usando HTMX -->
        <div class="col-lg-2">
            <button hx-get="{% url 'edit_purchase_order' order.id %}" 
                    hx-target="#orden-{{ order.id }}" 
                    hx-swap="outerHTML" 
                    class="btn btn-primary">Editar</button>
        </div>
    </header>

    <!-- Detalles de los ítems relacionados con la Orden de Compra -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th style="width: 20%">Descripción Ítem</th>
                    <th style="width: 15%">Cantidad</th>
                    <th style="width: 15%">Precio Unitario</th>
                    <th style="width: 15%">Precio Total</th>
                    <th style="width: 15%">Proveedor</th>
                    <th style="width: 10%">Clase de Pago</th>
                    <th style="width: 10%">Tipo de Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.sales_order_item.description }}</td>
                    <td>{{ item.quantity_requested }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price_total }}</td>
                    <td>{{ item.supplier.nombre_proveedor }}</td>
                    <td>{{ item.class_pay }}</td>
                    <td>{{ item.type_pay }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No se encontraron ítems para esta orden de compra.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
