{% load widget_tweaks %}
<article class="list-group-item mb-3" id="orden-{{ order.id }}">
    <!-- Formulario de la orden de compra -->
    <form method="post" hx-post="{% url 'edit_purchase_order' order.id %}" hx-target="#orden-{{ order.id }}" hx-swap="outerHTML">
        {% csrf_token %}
        
        <!-- Campo oculto para el order_id -->
        <input type="hidden" name="order_id" value="{{ order.id }}">

        {{ item_formset.management_form }}
        <div class="row mb-2 align-items-center">
            <div class="col-lg-3">
                <label><strong>Descripción:</strong></label>
                <div>{{ order.description }}</div>
            </div>
            <div class="col-lg-3">
                <label><strong>Por:</strong></label>
                <div>{{ order.requested_by }}</div>
            </div>
            <div class="col-lg-3">
                {{ order_form.scheduled_date }}
            </div>
        </div>

        <!-- Tabla para los ítems de la orden de compra -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 15%;">Item</th>
                        <th style="width: 30%;">Detalles</th>
                        <th style="width: 8%;">Cantidad</th>
                        <th style="width: 10%;">Precio</th>
                        <th style="width: 10%;">Total</th>
                        <th style="width: 10%;">Proveedor</th>
                        <th style="width: 10%;">Clase</th>
                        <th style="width: 12%;">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in item_formset %}
                        <tr>
                            {{ form.id }}
                            <td>{{ form.instance.sales_order_item }}</td>
                            <td>{{ form.notes|add_class:"w-100" }}</td>
                            <td>{{ form.quantity_requested }}</td>
                            <td>{{ form.price }}</td>
                            <td>{{ form.instance.price_total }}</td>
                            <td>{{ form.supplier|add_class:"select2-ajax w-75" }}</td>
                            <td>{{ form.class_pay }}</td>
                            <td>{{ form.type_pay }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Botón de guardar -->
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</article>

<script>
    function initializeSelect2() {
        $('.select2-ajax').each(function() {
            if ($(this).data('select2')) { 
                $(this).select2('destroy');
            }
        });

        try {
            $('.select2-ajax').select2({
                width: 'resolve', // Resolve usa el ancho que ocupa el select
                placeholder: "Selecciona un proveedor",
                allowClear: true,
                ajax: {
                    url: "{% url 'supplier_autocomplete' %}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return { term: params.term };
                    },
                    processResults: function (data) {
                        return { results: data.results };
                    },
                    cache: true
                },
                minimumInputLength: 1
            });
        } catch (error) {
            console.error("Error al inicializar Select2:", error);
        }
    }

    $(document).ready(function() {
        initializeSelect2();
    });

    document.addEventListener('htmx:afterSwap', function(event) {
        initializeSelect2();
    });
</script>
