{% extends 'follow_control_base.html' %}
{% load widget_tweaks %}

{% block title %}Listado de Grupos de Tareas{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="p-4 bg-white rounded shadow">
        <!-- Encabezado con formulario -->
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
            <h1 class="display-6 text-dark">Grupo de tareas</h1>
            <form id="new-group-form" hx-post="{% url 'create_task_group' %}" hx-target="#group-list" hx-swap="beforeend" class="d-flex align-items-center">
                <div class="me-2">
                    {{ form.name.errors }}
                    {{ form.name|add_class:"form-control form-control-sm" }}
                </div>
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save"></i> Crear grupo
                </button>
            </form>
        </div>

        <!-- Tabla de grupos de tareas -->
        <div class="table-responsive">
            <table class="table table-hover table-striped rounded shadow-sm">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Grupo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="group-list">
                    {% for task_group in task_groups %}
                        {% include 'technician_groups/task_group_row.html' with task_group=task_group %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
