{% load widget_tweaks %}

<!-- Primera columna: Nombre -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}:</label>
        {{ form.name|add_class:"form-control" }}
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <label for="{{ form.type.id_for_label }}" class="form-label">{{ form.type.label }}:</label>
        {{ form.type|add_class:"form-control" }}
    </div>

    <!-- Botón de enviar -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-4 d-flex align-items-end">
        <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </div>
</div>

{% if status == "yes" %}
    <div class="inline bg-green-200 p-2 border border-green-400 text-green-700 px-4 py-3 rounded">
        ¡Operación exitosa! :)
    </div>
{% elif status == "no" %}
    <div class="inline bg-red-200 p-2 border border-red-400 text-red-700 px-4 py-3 rounded">
        Algo falló :P
    </div>
{% endif %}
