{% load widget_tweaks %}
<div id="bank_loan_forms" class="w-100">
    <div class="custom-card mb-4">
        <div class="custom-card-header bg-dark text-white p-3">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Detalles del Prestamo#{{ loan.id }}</h4>
            </div>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <p><strong>Banco:</strong> {{ loan.bank }}</p>
                    <p><strong>Tipo de crédito:</strong> {{ loan.credit_type }}</p>
                    <p><strong>Moneda:</strong> {{ loan.currency }}</p>
                </div>
                <div class="col-md-6 mb-4">
                    <p><strong>Fecha de inicio:</strong> {{ loan.start_date }}</p>
                    <p><strong>Fecha de desembolso:</strong> {{ loan.desembols_date }}</p>
                </div>
                <div class="col-md-6 mb-4">
                    <p><strong>Total de la deuda:</strong> {{ loan.total_debt }}</p>
                    <p><strong>Numero de cuotas:</strong> {{ loan.cuotas }}</p>
                </div>
            </div>
        </div>
    </div>

    <form hx-post="{% url 'bank_loan_pay' loan.id %}" hx-target="#bank_loan_forms" hx-swap="innerHTML" class="w-100m b-5 p-4 border rounded shadow-sm">
        {% csrf_token %}
        <div class="row mb-4">
            <div class="col-6 col-md-2 mb-3">
                <label for="{{ form.loan_payment.id_for_label }}" > Por {{ form.loan_payment.label}}: </label>
                {{ form.loan_payment }}
            </div>
            <div class="col-6 col-md-2 mb-3">
                <label for="{{ form.partial_amount.id_for_label }}" > Por {{ form.partial_amount.label}}: </label>
                {{ form.partial_amount }}
            </div>
            <div class="col-6 col-md-2 mb-3">
                <label for="{{ form.receipt.id_for_label }}" > Por {{ form.receipt.label}}: </label>
                {{ form.receipt }}
            </div>
            <div class="col-6 col-md-2 mb-3">
                <label for="{{ form.receipt_date.id_for_label }}" > Por {{ form.receipt_date.label}}: </label>
                {{ form.receipt_date }}
            </div>

            <div class="col-4 col-md-2 ml-8 d-flex align-items-end d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">Agregar Pago</button>
            </div>
        </div>
    </form>

    {% if status == "yes" %}
        <div class="inline bg-green-200 p-2 border border-green-400 text-green-700 px-4 py-3 rounded">
            ¡Operación exitosa! :)
        </div>
    {% elif status == "no" %}
        <div class="inline bg-red-200 p-2 border border-red-400 text-red-700 px-4 py-3 rounded">
            Algo falló :P
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover align-middle text-center bg-white bg-opacity-75 shadow-sm custom-rounded-top">
            <thead class="table-dark custom-thead-rounded">
                <tr>
                    <th colspan="10">cuotas</th>
                </tr>
                <tr>
                    <th>fecha a pagar</th>
                    <th>¿pagado?</th>
                    <th>Monto Actual/Total</th>
                    <th>¿Exceso de pago?</th>
                </tr>
            </thead>
            <tbody>
                {% for item in loan_cuota %}
                    {% if item.expiration == "warning" %}
                        <tr class="bg-yellow-300">
                    {% elif item.expiration == "last" %}
                        <tr class="bg-red-700 text-white">
                    {% elif item.expiration == "expire" %}
                        <tr class="bg-red-900 text-white">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ item.pay_date }}</td>
                        <td>
                            {% if item %}
                                no
                            {% else %}
                                si
                            {% endif %}
                        </td>
                        <td>{{ item.total }}/{{ item.amount }}</td>
                        <td>
                            {% if item.error %}
                                <span class="badge bg-danger text-white rounded-pill px-2 py-1">
                                    {{ budget.budget_days }} SI
                                </span>
                            {% else %}
                                <span class="badge bg-success text-white rounded-pill px-2 py-1">
                                    {{ budget.budget_days }} No
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button hx-get="{% url 'bank_loan_index' %}"
        hx-target="#bank_loan_forms"
        hx-swap="outerHTML"
        class="btn btn-primary">Atrás</button>

</div>
