{% extends 'base_accounting.html' %}

{% block content %}
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover align-middle text-center bg-white shadow-sm rounded">
            <thead class="bg-light text-dark">
                <tr>
                    <th>ID</th>
                    <th>Proyecto</th>
                    <th>Cliente</th>
                    <th>O. Venta</th>
                    <th>F. Solicitada</th>
                    <th>F. Creada</th>
                    <th>Detalles</th>
                    <th>Aprobado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in requirement_orders %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.sales_order.sapcode }}</td>
                    <td>{{ order.sales_order.project.name }}</td>
                    <td>{{ order.sales_order.project.client.legal_name }}</td>
                    <td>{{ order.requested_date }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.notes }}</td>
                    <td>
                        {% if order.state == "NO REVISADO" %}
                            <span class="badge bg-secondary">No Revisado</span>
                        {% elif order.state == "APROBADO" %}
                            <span class="badge bg-success">Aprobado</span>
                        {% elif order.state == "RECHAZADO" %}
                            <span class="badge bg-danger">Rechazado</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ order.state }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                            <a href="{% url 'requirement_order_detail_accounting' order.id %}" class="btn btn-primary btn-sm">
                                <i class="fas fa-info-circle"></i> Revisar
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
