{% if search_status == -1 %}
    <div class="inline bg-red-200 p-2 border border-red-400 text-red-700 px-4 py-3 rounded">
        Se requiere al menos 4 caracteres para la búsqueda.
    </div>
{% elif search_status == -2 %}
    <div class="inline bg-red-200 p-2 border border-red-400 text-red-700 px-4 py-3 rounded">
        No se encontró ninguna coincidencia
    </div>
{% endif %}

{% for brand in brands %}
    <div class="bg-white py-4 px-4 rounded-lg shadow-md mb-3 flex flex-wrap items-center hover:shadow-xl transition-shadow duration-300">
        <div class="w-full sm:w-1/2">
            <p class="mb-2"><i class="fas fa-briefcase"></i> Marca: <span class="font-bold">{{ brand.name }}</span></p>
        </div>
    </div>
{% endfor %}
