<div class="container-fluid ">
    <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
        <div class="card-body text-center py-2">
            <h1 class="mb-0">Añadir Sub-tipo</h1>
        </div>
    </div>

    <div id="tasks-forms" class="w-100">
        {% include 'inventory/subtype_form.html' %}
    </div>

    <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
        <div class="card-body text-center py-2">
            <h1 class="mb-0">Búsqueda de Sub-tipos</h1>
        </div>
    </div>

    <ul id="logistic_inventory_subtype_search" class="mt-8 space-y-4">
        {% include 'inventory/subtype_search.html' %}
    </ul>

    <ul id="logistic_inventory_subtype_list" class="mt-8 space-y-4">
        {% include 'inventory/subtype_list.html' %}
    </ul>

</div>
