<style>
    .row {
        display: flex;
    }

    .column {
        flex: 40%;
    }
</style>

<div class="row">
    <div class="column">
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>SAP Code</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
                {% for item in purchase_list_pen %}
                    <tr>
                        <td>{{ item.sap_code }}</td>
                        <td>{{ item.notes }}</td>
                        <td>S/. {{ item.price_total }}</td>
                        <td>{% if item.supplier %}{{ item.supplier.name }}{% else %}Sin proveedor{% endif %}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- SUNAT -->
    <div class="column">
         <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Resolución</th>
                    <th>Descripción</th>
                    <th>Numero de cuota</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sunat_list_pen %}
                    <tr>
                        <td>{{ item.resolucion.numero_resolucion }}</td>
                        <td>{{ item.resolucion.descripcion }}</td>
                        <td>{{ item.numero_cuota }}</td>
                        <td>S/. {{ item.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<button class="btn btn-primary" hx-get="{% url 'dashboard' %}" hx-target="body"> Flechita para atras >.< </button>
