{% extends "base_employee.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="align-center col-8 offset-2">
    <p class="lead mb-3 ml-0">Registro</p>
    <hr/>
    <form method="POST" action="{% url 'register' %}" autocomplete='off'>
        {% csrf_token %}

        <div class="form-group mb-3">
            <label>{{ form.username.label_tag }}</label>
            {{ form.username.errors }}
            {% render_field form.username class="form-control" hx-post="/accounts/check-username/" hx-trigger="keyup" hx-target="#username-error" %}
            <div id="username-error"></div>

            <label>{{ form.email.label_tag }}</label>
            {{ form.email.errors }}
            {% render_field form.email class="form-control" %}

            <label>{{ form.first_name.label_tag }}</label>
            {{ form.first_name.errors }}
            {% render_field form.first_name class="form-control" %}

            <label>{{ form.last_name.label_tag }}</label>
            {{ form.last_name.errors }}
            {% render_field form.last_name class="form-control" %}

            <label>{{ form.position.label_tag }}</label>
            {{ form.position.errors }}
            {% render_field form.position class="form-control" %}

            <label>{{ form.role.label_tag }}</label>
            {{ form.role.errors }}
            {% render_field form.role class="form-control" %}

            <label>{{ form.password1.label_tag }}</label>
            {{ form.password1.errors }}
            {% render_field form.password1 class="form-control" %}

            <label>{{ form.password2.label_tag }}</label>
            {{ form.password2.errors }}
            {% render_field form.password2 class="form-control" %}
        </div>
        
        <button type="submit" class="btn btn-success mt-2">Registrar</button>
    </form>
</div>
{% endblock content %}
