{% extends 'base_requests.html' %}

{% block content %}
<div class="container-fluid">
    <div class="p-4 bg-white rounded shadow">
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
            <h1 class="display-6 text-dark">Detalle del Pedido</h1>
            <div class="d-flex align-items-center">
                {% if order.estado %}
                    <span class="badge bg-success fs-5 me-3">Listo</span>
                {% else %}
                    <span class="badge bg-warning fs-5 me-3">Pendiente</span>
                {% endif %}
                <a href="{% url 'my_requests' %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Regresar a Mis Pedidos
                </a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Orden de Venta:</strong> {{ order.sales_order }}
            </div>
            <div class="col-md-6">
                <strong>Fecha Solicitada:</strong> {{ order.requested_date }}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Fecha de Creación:</strong> {{ order.created_at|date:"d/m/Y" }}
            </div>
            <div class="col-md-6">
                <strong>Detalle del Requerimiento:</strong>
                <p>{{ order.notes }}</p>
            </div>
        </div>

        <table class="table table-bordered text-center"> <!-- Añadido text-center para centrar el contenido de la tabla -->
            <thead class="table-dark">
                <tr>
                    <th>Item</th>
                    <th>Info</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.sales_order_item.description }}</td>
                    <td>{{ item.notes }}</td>
                    <td>{{ item.quantity_requested }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        {% if item.estado == 'L' %}
                            <span class="badge bg-success">Listo</span>
                        {% elif item.estado == 'P' %}
                            <span class="badge bg-warning">Pendiente</span>
                        {% elif item.estado == 'C' %}
                            <span class="badge bg-info">Comprando</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
