{% extends 'base_requests.html' %}

{% block content %}
<div class="container-fluid">
    <div class="p-4 bg-white rounded shadow">
        <!-- Título y botón de regresar -->
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
            <h1 class="display-6 text-dark">Detalle del Pedido</h1>
            <div class="d-flex align-items-center">
                {% comment %} <button class="btn btn-primary" id="exportToExcel">Exportar a Excel</button> {% endcomment %}
                {% if order.estado %}
                    <span class="badge bg-success fs-5 me-3">Listo</span>
                {% else %}
                    <span class="badge bg-warning fs-5 me-3">Pendiente</span>
                {% endif %}
                <a href="{% url 'my_requests' %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Regresar a Mis Pedidos
                </a>
            </div>
        </div>

        <!-- Información del pedido -->
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Orden de Venta:</strong> {{ order.sales_order }}
            </div>
            <div class="col-md-6">
                <strong>Fecha Solicitada:</strong> {{ order.requested_date }}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Fecha de Creación:</strong> {{ order.created_at|date:"d/m/Y" }}
            </div>
            <div class="col-md-6">
                <strong>Detalle del Requerimiento:</strong>
                <p>{{ order.notes }}</p>
            </div>
        </div>

        <!-- Incluir la tabla de ítems desde el partial -->
        <div id="order-items">
            {% include 'partials/item_table.html' %}
        </div>

        <!-- Mostrar el total de la orden -->
        <p>Total de la orden: <strong><span id="total-order">{{ order.total_order }}</span></strong></p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Incluir htmx -->
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% endblock %}
