<div class="table-responsive">
    <h5>Detalles de la Orden</h5>
    <table class="table table-bordered">
        <tr>
            <th>SAP CODE:</th>
            <td>{{ order.sales_order.sapcode }}</td>
        </tr>
        <tr>
            <th>Orden de Venta:</th>
            <td>{{ order.sales_order.detail }}</td>
        </tr>
        <tr>
            <th>Detalles:</th>
            <td>{{ order.notes }}</td>
        </tr>
        <tr>
            <th>Fecha Solicitada:</th>
            <td>{{ order.requested_date }}</td>
        </tr>
        <tr>
            <th>Fecha de Creación:</th>
            <td>{{ order.created_at|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <th>Aprobado:</th>
            <td>
                {% if order.state == 'APROBADO' %}
                    <span>Aprobado</span>
                {% elif order.state == 'RECHAZADO' %}
                    <span>Rechazado</span>
                {% else %}
                    <span>No revisado</span>
                {% endif %}
            </td>        
        </tr>
        <tr>
            <th>Estado:</th>
            <td>
                {% if order.estado %}
                    <span>Listo</span>
                {% else %}
                    <span>Pendiente</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Usuario:</th>
            <td>{{ order.user.username }}</td>
        </tr>
        <tr>
            <th>Total:</th>
            <td>{{ order.total_order }}</td>
        </tr>
    </table>
</div>

<div class="table-responsive mt-4">
    <h5>Ítems de la Orden</h5>
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>SAP CODE</th>
                <th>Item</th>
                <th>Info</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr id="item-{{ item.id }}">
                <td>{{ item.sales_order_item.sap_code }}</td>
                <td>{{ item.sales_order_item.description }}</td>
                <td>{{ item.notes }}</td>
                <td>{{ item.quantity_requested }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
                <td>
                    {% if item.estado == 'L' %}
                        <span class="badge bg-success">L</span>
                    {% elif item.estado == 'R' %}
                        <span class="badge bg-danger">R</span>
                    {% elif item.estado == 'P' %}
                    <span class="badge bg-warning">P</span>
                    {% elif item.estado == 'E' %}
                    <span class="badge bg-info">E</span>
                    {% elif item.estado == 'C' %}
                    <span class="badge bg-primary">C</span>
                    {% else %}
                        <span class="badge bg-warning text-dark">No revisado</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay ítems asociados a esta orden.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
