{% extends 'base_logistic.html' %}

{% block extra_css %}
<style>
    .custom-rounded-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }
    .custom-thead-rounded {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .btn-group .btn {
        padding: 0.375rem 0.75rem; /* Aumenta el padding de los botones */
        font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover align-middle text-center bg-white bg-opacity-75 shadow-sm custom-rounded-top">
            <thead class="table-dark custom-thead-rounded">
                <tr>
                    <th>ID</th>
                    <th>Proyecto</th>
                    <th>Cliente</th>
                    <th>Orden de Venta</th>
                    <th>F. Solicitada</th>
                    <th>F. Creada</th>
                    <th>Detalles</th>
                    <th>Aprobado por Contabilidad</th>
                    <th>Estado de Ítems</th> <!-- Nueva columna para el estado de los ítems -->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in requirement_orders %}
                <tr class="rounded-3">
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.sales_order.sapcode }}</td>
                    <td>{{ order.sales_order.project.name }}</td>
                    <td>{{ order.sales_order.project.client.legal_name }}</td>
                    <td>{{ order.requested_date }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.notes }}</td>
                    <td>
                        {% if order.state == "NO REVISADO" %}
                            <span class="badge bg-warning text-dark rounded-pill">No Revisado</span>
                        {% elif order.state == "APROBADO" %}
                            <span class="badge bg-success rounded-pill">Aprobado</span>
                        {% elif order.state == "RECHAZADO" %}
                            <span class="badge bg-danger rounded-pill">Rechazado</span>
                        {% else %}
                            <span class="badge bg-secondary rounded-pill">{{ order.state }}</span>
                        {% endif %}
                    </td>
                    <!-- Columna para mostrar los estados de los ítems -->
                    <td>
                        {% if order.global_state == "Listo" %}
                            <span class="badge bg-success">Listo</span>
                        {% elif order.global_state == "Comprando" %}
                            <span class="badge bg-primary">Comprando</span>
                        {% elif order.global_state == "Pendiente" %}
                            <span class="badge bg-warning text-dark">Pendiente</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ order.global_state }}</span>
                        {% endif %}
                    </td>                   
                    <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                            <a href="{% url 'requirement_order_detail' order.id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-info-circle"></i> Detalles
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</div>
{% endblock %}
