<style>
    .custom-table-wrapper {
        max-height: calc(100vh - 200px); /* Ajusta este cálculo según tus necesidades */
        overflow-y: auto;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .custom-table th {
        background-color: #343a40;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.875rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .custom-table tbody tr {
        transition: background-color 0.3s;
    }
    .custom-table tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>

<div class="custom-table-wrapper mb-4">
    <form method="POST" action="">
        {% csrf_token %}
        <table class="table custom-table mb-0 text-center" id="salesorder-item-list">
            <thead>
                <tr>
                    <th scope="col">CODIGO</th>
                    <th scope="col">DESC</th>
                    <th scope="col">UND</th>
                    <th scope="col">CANT (REST)</th> 
                    <th scope="col">PRECIO</th>
                    <th scope="col">PRECIO T.</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td class="fw-bold">{{ item.sap_code }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.unit_of_measurement }}</td>
                    <td>{{ item.amount }} ({{ item.remaining_requirement }})</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>



