{% extends "base_portal.html" %}
{% load crispy_forms_tags %}  <!-- Cargar etiquetas de crispy-forms -->

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2>Cambiar Contraseña</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}  <!-- Usar filtro crispy -->
                            <a href="{% url 'edit_profile' %}" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
