{% extends "base_portal.html" %}

{% block content %}
    <div class="container mt-0">
        <div class="row">
            <div class="col-md-8 offset-md-0 w-100">
                <div class="card">
                    <div class="card-header">
                        <h2>Confirmación de Cambio de Contraseña</h2>
                    </div>
                    <div class="card-body">
                        <p>Vas a proceder a cambiar tu contraseña. Asegúrate de recordar la nueva contraseña.</p>
                        <a href="{% url 'change_password' %}" class="btn btn-primary">Continuar</a>
                        <a href="{% url 'edit_profile' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
