{% extends 'base_accounting.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid mt-5">
    <h1 class="display-5 mb-4">Agregar Bancos</h1>

    <form method="POST" action="{% url 'bank_index' %}" class="row g-3">
        {% csrf_token %}

        <!-- Campo Nombre del Banco -->
        <div class="col-md-6">
            <label for="{{ form.bank_name.id_for_label }}" class="form-label">{{ form.bank_name.label }}: </label>
            {{ form.bank_name|add_class:"form-control"|attr:"placeholder:Nombre del Banco" }}
        </div>

        <!-- Campo Número de Cuenta -->
        <div class="col-md-6">
            <label for="{{ form.bank_account.id_for_label }}" class="form-label">{{ form.bank_account.label }}: </label>
            {{ form.bank_account|add_class:"form-control"|attr:"placeholder:Número de Cuenta" }}
        </div>

        <!-- Campo Detalles del Banco -->
        <div class="col-md-12">
            <label for="{{ form.bank_detail.id_for_label }}" class="form-label">{{ form.bank_detail.label }}: </label>
            {{ form.bank_detail|add_class:"form-control"|attr:"placeholder:Detalles del Banco" }}
        </div>

        <!-- Campo Monto Actual -->
        <div class="col-md-6">
            <label for="{{ form.bank_current_mount.id_for_label }}" class="form-label">{{ form.bank_current_mount.label }}: </label>
            {{ form.bank_current_mount|add_class:"form-control"|attr:"placeholder:Monto Actual" }}
        </div>

        <!-- Botón para agregar banco -->
        <div class="col-md-12 text-end">
            <button type="submit" class="btn btn-success">Agregar Banco</button>
        </div>
    </form>

    <!-- Segmento entre el formulario y la lista de bancos para "Subir Extractos Bancarios" -->
    <hr class="my-4">

    <!-- Sección para subir extractos bancarios -->
    <div class="mt-4 p-3 bg-light border rounded">
        <h1 class="display-5 mb-4">Subir Extracto Bancario</h1>
        <p class="text-muted">Cargue los extractos bancarios en formato .csv</p>
        <a href="{% url 'upload_bank_statements' %}" class="btn btn-primary mt-3">
            Subir Extractos Bancarios
        </a>
    </div>    

    <!-- Segmento entre "Subir Extractos" y la lista de bancos -->
    <hr class="my-4">

    <!-- Lista de bancos y título -->
    <div class="container-fluid">
        <h1 class="display-5 mb-4">Lista de Bancos</h1>

        <!-- Lista de bancos existentes -->
        <div id="bank-list">
            {% include 'bank/bank_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
