{% extends "base_client.html" %}

{% block content %}

<div class="container-fluid mt-2">
    <div class="card shadow-sm w-100">
        <div class="card-header bg-danger text-white">
            <h2 class="m-0">Eliminar Contrato</h2>
        </div>
        <div class="card-body">
            <p class="lead">¿Estás seguro de que deseas eliminar el presupuesto <strong>"{{ contract.client }} - N° de Contrato: {{ contract.contract_number }}"</strong>?</p>
            <p class="text-muted">Esta acción no se puede deshacer.</p>

            <form method="post">
                {% csrf_token %}
                <div class="d-flex flex-row mt-4">
                    <button type="submit" class="btn btn-danger me-2">Eliminar</button>
                    <div>
                        <a href="{% url 'index_contract' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
