<!-- sales_index.html -->
{% extends 'base_accounting.html' %}

{% block content %}
<div class="salesorder-container">
    <div id="salesorder-forms">
        {% include 'salesorder/salesorder-form.html' %}
    </div>

    <!-- La lista de ventas se renderiza aquí y se actualiza con HTMX -->
    <form hx-get="{% url 'salesorder-search' %}" hx-target="#salesorder-list" hx-trigger="keyup delay:0.2s" hx-debounce="500ms">
        <input type="text" name="q" placeholder="Buscar por SAP,Projecto, Detalle" class="form-control" id="search-input">
    </form>
    <div id="salesorder-list">
        {% include 'salesorder/salesorder-list.html' %}
    </div>
</div>
{% endblock %}
