{% extends "project_base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid">
    <article class="list-group-item mb-3" style="border: 1px solid #d1d5db; border-radius: 15px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); padding: 20px; background: linear-gradient(135deg, #ffffff, #f2f5f8);">
        
        <header class="row mb-4 align-items-center">
            <div class="col-lg-3">
                <label><strong>Código SAP:</strong></label>
                <div>{{ sales_order.sapcode }}</div>
            </div>
            <div class="col-lg-3">
                <label><strong>Detalle:</strong></label>
                <div>{{ sales_order.detail }}</div>
            </div>
            <div class="col-lg-3">
                <label><strong>Fecha de la Orden:</strong></label>
                <div>{{ sales_order.date }}</div>
            </div>
            <div class="col-lg-3">
                <label><strong>Total Orden de Venta:</strong></label>
                <div>{{ sales_order.total_sales_order|floatformat:2 }}</div>
            </div>
        </header> 

        <!-- Contenedor para las columnas -->
        <div class="row">

            <!-- Ítems de Sales Order -->
            <div class="col-lg-4 mb-3">
                <h4>Ítems de la Orden de Venta</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in sales_order_items %}
                        <tr>
                            <td>{{ item.description }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.price_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Ítems de Requirement Order -->
            <div class="col-lg-4 mb-3">
                <h4>Ítems de la Orden de Requerimiento</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad Solicitada</th>
                            <th>Proveedor</th>
                            <th>Estado</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in requirement_orders %}
                            {% for item in item.items.all %}
                                <tr>
                                    <td>{{ item.sales_order_item.description }}</td>
                                    <td>{{ item.quantity_requested }}</td>
                                    <td>{{ item.supplier }}</td>
                                    <td>{{ item.get_estado_display }}</td>
                                    <td>{{ item.price }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Ítems de Purchase Order -->
            <div class="col-lg-4 mb-3">
                <h4>Ítems de la Orden de Compra</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Cantidad Solicitada</th>
                            <th>Proveedor</th>
                            <th>Estado de Pago</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase_order in purchase_orders %}
                            {% for item in purchase_order.items.all %}
                                <tr>
                                    <td>{{ item.sales_order_item.description }}</td>
                                    <td>{{ item.quantity_requested }}</td>
                                    <td>{{ item.supplier }}</td>
                                    <td>{{ item.get_payment_status_display }}</td>
                                    <td>{{ item.price }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </article>
</div>

{% endblock content %}

