<li id="type-{{ type.id }}">
    <div class="bg-white py-4 px-4 rounded-lg shadow-md mb-3 flex flex-wrap items-center hover:shadow-xl transition-shadow duration-300">
        <div class="w-full sm:w-1/2">
            <p class="mb-2"><i class="fas fa-folder-open"></i> Tipo: <span class="font-bold">{{ type.name }}</span></p>
        </div>
        <div class="w-full sm:w-1/2">
            <p class="mb-2 font-semibold"><i class="fas fa-folder-open"></i> Categoría: <span class="font-bold">{{ type.category }}</span></p>
        </div>

        <div class="w-full sm:w-1/6">
            <button class="btn btn-warning btn-sm btn-icon bg-edit"
                    hx-get="{% url 'logistic_inventory_type_edit' type.id %}"
                    hx-target="#type-{{ type.id }}"
                    hx-swap="outerHTML">
                <i class="fas fa-edit"></i>
            </button>
        </div>

    </div>
</li>
