<!-- Partial de la columna de datos generales y resumen de totales -->
<div class="card shadow-sm mb-3">
    <div class="card-header bg-light">
        <h4>Datos del Presupuesto</h4>
    </div>
    <div class="card-body">
        <h5>Detalles</h5>
        <ul class="list-unstyled">
            <li><strong>Cliente:</strong> {{ budget.client }}</li>
            <li><strong>Presupuesto:</strong> {{ budget.budget_name }}</li>
            <li><strong>Fecha:</strong> {{ budget.budget_date }}</li>
            <li><strong>Duración:</strong> {{ budget.budget_days }} días</li>
            <li><strong>Precio Total:</strong> S/ {{ budget.budget_price }}</li>
            <li><strong>Precio Total2:</strong> S/ {{ budget.budget_final_price }}</li>
        </ul>
    </div>
</div>

<!-- Resumen de Totales -->
<div class="card shadow-sm">
    <div class="card-header bg-light">
        <h4>Resumen de Totales</h4>
    </div>
    <div class="card-body">
        Resumen segun categoria

    </div>
</div>
