{% extends "follow_control_base.html" %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    .form-control-sm {
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ced4da;
        font-size: 1em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .select2-container .select2-selection--single {
        height: 40px; /* Ajusta la altura para que coincida */
        padding: 5px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        font-size: 1em;
    }
    .select2-container {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .select2-container .select2-selection__rendered {
        line-height: 40px;
    }
    .select2-container .select2-selection__arrow {
        height: 38px;
    }
    .btn-sm {
        margin-bottom: 10px;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }
    .task-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        flex-grow: 1;
    }
    .task-form input, .task-form select {
        flex: 1 1 200px;
        min-width: 150px;
    }
    .task-form .select2-container {
        flex: 1 1 200px;
        min-width: 150px;
    }
    .card-container {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        position: relative;
    }
    .valuation {
        font-size: 4em;
        font-weight: bold;
        color: #ff0000;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        font-family: 'Impact', sans-serif;
        transform: rotate(-10deg);
        margin-left: 20px; /* Añadido para separar del botón */
        padding: 10px 20px; /* Espaciado interno */
    }
</style>

<div class="container-fluid card-container">
    {% if cards %}
        <div class="d-flex justify-content-between align-items-center">
            <!-- Formulario -->
            <form hx-post="{% url 'add-daily-task' %}" hx-target="#daily-task-list" hx-swap="innerHTML" class="task-form form-container">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card_id }}">
                <input type="text" name="taskname" class="form-control-sm" placeholder="Agrega el verbo" />
                <input type="text" name="object" class="form-control-sm" placeholder="Objeto" />
                <select name="sale_order" class="select2-field">
                    <option value="">Selecciona una orden de venta</option>
                    {% for sale_order in sale_orders %}
                        <option value="{{ sale_order.id }}">{{ sale_order.detail }} - {{ sale_order.project.client.legal_name }}</option>
                    {% endfor %}
                </select>
                <select name="rutine" class="form-control-sm">
                    <option value="">Selecciona una rutina</option>
                    <option value="NO RUTINARIA">NO RUTINARIA</option>
                    <option value="RUTINARIA">RUTINARIA</option>
                </select>
                <select name="frecuency" class="form-control-sm">
                    <option value="">Selecciona una frecuencia</option>
                    <option value="UNICA">UNICA</option>
                    <option value="DIARIA">DIARIA</option>
                    <option value="INTERDIARIA">INTERDIARIA</option>
                    <option value="SEMANAL">SEMANAL</option>
                    <option value="MENSUAL">MENSUAL</option>
                </select>
                <input type="text" name="measurement" class="form-control-sm" placeholder="Medición" value="minutos" />
                <input type="number" name="task_time" class="form-control-sm" placeholder="Tiempo" step="0.01" />
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa-solid fa-otter" style="color: #000000;"></i>
                </button>
            </form>

            <!-- Evaluación -->
            <p class="valuation">{{ cards.first.valuation }}</p>
        </div>
    {% endif %}

    <hr/>

    <div id="daily-task-list">
        {% include 'partials/daily-task-list.html' with daily_tasks=daily_tasks card_id=card_id %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select2-field').select2({
            placeholder: "Selecciona una orden de venta",
            allowClear: true,
            width: '100%'
        });
    });
</script>
{% endblock %}
