{% extends "base_budget.html" %}

{% block title %}Presupuestos{% endblock %}

{% block content %}

<!-- Bloque para mostrar los mensajes de éxito o advertencia -->
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-success{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if budgets %}
    <div class="table-responsive">
        <table class="table table-hover align-middle text-center bg-white bg-opacity-75 rounded-3 shadow-sm" id="budgetTable">
            <thead class="table-dark">
                <tr>
                    <th>Presupuestos</th>
                    <th>Cliente</th>
                    <th>Días</th>
                    <th>Precio Total</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr class="rounded-3">
                        <td>{{ budget.budget_name }}</td>
                        <td>{{ budget.client }}</td>
                        <td>
                            <span class="badge bg-primary rounded-pill">
                                {{ budget.budget_days }} Días
                            </span>
                        </td>
                        <td>{{ budget.budget_final_price }}</td>
                        <td>{{ budget.budget_date }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Acciones">
                                <a href="{% url 'detail_budget' budget.id %}" class="btn btn-outline-info btn-sm">
                                    <i class="fas fa-eye"></i> Ver
                                </a>
                                <a href="{% url 'duplicate_budget' pk=budget.pk %}" class="btn btn-warning">
                                    <i class="fas fa-copy"></i> Duplicar Presupuesto
                                </a>
                                <a href="{% url 'delete_budget' budget.id %}" class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning text-center" role="alert">
        No hay presupuestos disponibles.
    </div>
{% endif %}

<!-- Incluir DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>

<!-- Incluir jQuery y DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#budgetTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json"
            },
            "paging": false, // true para habilitar la paginacion.
            "searching": true,  
            "ordering": true,   
            "info": true,
            "autoWidth": false, 
            "columnDefs": [
                { "orderable": false, "targets": [5] } 
            ]
        });
    });
</script>

{% endblock %}
