{% extends "base_budget.html" %}

{% block title %}Presupuestos{% endblock %}

{% block content %}

<h1 class="mb-4">PRESUPUESTOS</h1>

<div class="button-container mb-4">
    <a href="{% url 'create_budget' %}" class="btn btn-primary">Crear Nuevo Presupuesto</a>
</div>

{% if budgets %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Días</th>
                <th>Precio</th>
                <th>Precio Final</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
                <tr>
                    <td>{{ budget.budget_name }}</td>
                    <td>{{ budget.budget_days }}</td>
                    <td>{{ budget.budget_price }}</td>
                    <td>{{ budget.budget_final_price }}</td>
                    <td>{{ budget.budget_date }}</td>
                    <td>
                        <a href="{% url 'detail_budget' budget.id %}" class="btn btn-info btn-sm">Ver</a>
                        <a href="" class="btn btn-warning btn-sm">Editar</a>
                        <a href="" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay presupuestos disponibles.</p>
{% endif %}

{% endblock %}
