{% extends 'base_accounting.html' %}

{% block content %}
<div class="container-fluid">
    <ul class="list-group">
        <!-- Header -->
        <li class="list-group-item d-flex justify-content-between align-items-center fw-bold bg-light">
            <span class="col-2 text-center">Código SAP</span>
            <span class="col-3 text-center">Proyecto</span>
            <span class="col-4 text-center">Detalle</span>
            <div class="col-3 d-flex justify-content-around">
                <span class="badge bg-primary"><i class="fa-solid fa-dolly"></i> COBROS</span>
            </div>
        </li>

        <form hx-get="{% url 'collection_orders_search' %}" hx-target="#collection_orders_list" hx-trigger="keyup delay:0.2s" hx-debounce="500ms">
            <input type="text" name="q" placeholder="Buscar..." class="form-control" id="search-input">
        </form>

        <!-- List Items -->
        <div id="collection_orders_list">
                {% include 'collectionorders/collection_orders_list.html' %}
        </div>
    </ul>
</div>
{% endblock %}
