{% extends "follow_control_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
        <div class="card-body text-center py-2">
            <h1 class="mb-0">Añadir Tareas</h1>
            <a href="{% url 'download-process-excel'  %}" class="btn btn-success btn-sm">
                <i class="fas fa-file-excel"></i> Descargar Modelo
            </a>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <div class="card p-3 shadow-sm" style="background-color: #f8f9fa; border-radius: 10px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ excel_form.sale_order }}
                </div>
                <div class="mb-3">
                    {{ excel_form.file|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Subir Archivo de Tareas</button>
            </form>
        </div>
    </div>

    <div class="card shadow-sm rounded mb-4 bg-dark text-white" style="border-radius: 20px;">
        <div class="card-body text-center py-2">
            <h1 class="mb-0">Lista de Tareas</h1>
        </div>
    </div>
    <form hx-get="{% url 'task_search' %}" hx-target="#task-list" hx-trigger="keyup delay:0.2s" hx-debounce="500ms" class="mb-4"> <!-- Añadí mb-4 al formulario -->
        <input type="text" name="q" placeholder="Buscar Tareas" class="form-control" id="search-input">
    </form>
    <div id="task-list">
        {% include 'partials/task-list.html' %}
    </div>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}
