{% extends "base_budget.html" %}

{% block title %}Detalle del Presupuesto Comercial{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <!-- Columna izquierda con los detalles del presupuesto -->
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white p-2">
                    <h1>Detalle del Presupuesto Comercial: {{ budget.budget_name }}</h1>
                </div>
                <div class="card-body p-0">
                    <div id="budget-details-container"> <!-- Este es el ID que se usará en hx-target -->
                        {% include "partials/_budget_commercial_table.html" %}
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Columna derecha con los botones de acción -->
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header bg-secondary text-white p-2">
                <h5>Acciones</h5>
            </div>
            <div class="button-container p-3">
                <!-- Botones principales -->
                <div class="mb-3">
                    <a href="{% url 'index_budget_commercial'%}" class="btn btn-success mb-2 w-100">Volver a la Lista de Presupuestos</a>
                    {% comment %} <a href="#" class="btn btn-success mb-2 w-100">
                        <i class="fas fa-file-excel"></i> Descargar en Excel
                    </a> {% endcomment %}
                    <a href="{% url 'delete_commercial_budget' budget.id %}" class="btn btn-danger mb-2 w-100">Eliminar Presupuesto</a>
                </div>

            </div>
        </div>
    </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ítem</th>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </tr>
        </thead>
        <tbody>
            {% for category, items in items_by_category.items %}
                <tr>
                    <td colspan="6" class="table-secondary"><strong>{{ category }}</strong></td>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item.item.description }}</td>
                    <td>{{ item.item.get_category_display }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    <td>${{ item.custom_price }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
