{% extends 'follow_control_base.html' %}

{% block title %}Crear Tarjeta de Técnico{% endblock %}

{% block content %}
<h1>Crear Technician Card</h1>

<form method="post">
    {% csrf_token %}
    {{ card_form.as_p }}
    
    <h3>Tareas</h3>
    <div id="task-formset">
        {% for form in task_formset %}
            <div class="form-row">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <div id="empty-form-container">
            <!-- Aquí se insertarán los nuevos formularios -->
        </div>
    </div>
    
    <button type="button" hx-get="{% url 'add_task_form' %}" hx-target="#empty-form-container" hx-swap="beforeend">Agregar tarea</button>
    <button type="submit">Guardar</button>
</form>
{% endblock %}
