{% load widget_tweaks %}

{% if search_status == -1 %}
<div class="table-responsive">
    <table class="table table-hover align-middle text-center bg-white bg-opacity-75 shadow-sm custom-rounded-button custom-rounded-top">
        <tbody>
                <tr class="bg-red-200 text-red-700">
                    <td colspan="1" >
                        Se requiere al menos 4 caracteres para la búsqueda.
                    </td>
                </tr>
        </tbody>
    </table>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-hover align-middle text-center bg-white bg-opacity-75 shadow-sm custom-rounded-top">
        <thead class="table-dark custom-thead-rounded">
            <tr>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
                <tr class="rounded-3">
                    <td>{{ brand.name }}</td>
                </tr>
            {% empty %}
                <tr class="bg-red-200 text-red-700">
                    <td colspan="1" >No se encontró ninguna coincidencia</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
